<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Melbourne Activity Development Monitoring", 'https://data.melbourne.vic.gov.au/Property-Planning/Major-development-projects-Development-Activity-Mo/gh7s-qda8', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li>
            <%= form_tag logout_path, method: 'delete' do %>
              <%= submit_tag "Log out" %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
